<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
   metadata-complete="false">

   <context-param>
      <param-name>org.ocpsoft.rewrite.config.CONFIG_RELOADING</param-name>
      <!-- Disable reloading before deployment. -->
      <param-value>true</param-value>
   </context-param>

   <context-param>
      <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
      <param-value>client</param-value>
   </context-param>

   <mime-mapping>
      <extension>min</extension>
      <mime-type>text/javascript</mime-type>
   </mime-mapping>

</web-app>

